.signup {
    display: flex;
    justify-content: center;
    align-items: center;
    /* min-height: 93vh; */
    height: 90vh;
}

.signupbox {
    display: flex;
        justify-content: center;
        align-items: center;
        /* border: 1px solid black; */
        padding: 40px;
        background-color: white;
        flex-direction: column;
        border-radius: 20px;
        box-shadow: -1px 1px 20px 0px #c8c8ce;
}

.signup-title {
    color: rgb(39, 43, 48);
    margin: 40px 10px;
    font-size: 55px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.sign-inputconatiner {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    

}

.signup-inputcontainer {
    display: flex;
    flex-direction: column;
    width: 400px;
        max-width: 90vw;
}

.inp-component {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 400px;
    max-width: 80vw;
}

.signup-input {
    border: none;
    width: 100%;
    border-bottom: 1px solid black;
    height: 40px;
    color: rgb(0, 0, 0);
    margin-top: 10px;
}

.signup-desc {
    margin: 20px 0px 30px 0px;
    font-size: 20px;
}


.signup-btn {
width: 400px;
    max-width: 90vw;
    border: none;
    border: 1px solid rgb(164, 156, 156);
    text-align: center;
    justify-content: center;
    padding: 10px 0px;
}
.verified{
    display: flex;
    /* height: 90vh; */
    width: 100vw;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.verified h1{
    margin-bottom: 10px;
    color: gray;
}
@media screen and (max-width: 480px) {
    .signup-title{
        font-size: 35px;
    }
}